name: Check

on:
  - push
  - pull_request

jobs:
  linter:
    name: linter
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.ref, 'refs/tags') }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"  # minimum supported lang version

      - name: Install dependencies
        run: python -m pip install tox

      - name: Run
        run: tox -e lint

  pkglint:
    name: pkglint
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.ref, 'refs/tags') }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"  # minimum supported lang version

      - name: Install dependencies
        run: python -m pip install tox

      - name: Run
        run: tox -e pkglint
